@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../font/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Heavy.woff") format("woff"), url("../font/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-Medium.eot");
  src: local("Futura PT Medium"), local("FuturaPT-Medium"), url("../font/FuturaPT-Medium.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Medium.woff") format("woff"), url("../font/FuturaPT-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-MediumObl.eot");
  src: local("Futura PT Medium Oblique"), local("FuturaPT-MediumObl"), url("../font/FuturaPT-MediumObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-MediumObl.woff") format("woff"), url("../font/FuturaPT-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("../font/FuturaPTCond-Medium.eot");
  src: local("Futura PT Cond Medium"), local("FuturaPTCond-Medium"), url("../font/FuturaPTCond-Medium.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-Medium.woff") format("woff"), url("../font/FuturaPTCond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-LightObl.eot");
  src: local("Futura PT Light Oblique"), local("FuturaPT-LightObl"), url("../font/FuturaPT-LightObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-LightObl.woff") format("woff"), url("../font/FuturaPT-LightObl.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../font/FuturaPT-Book.eot");
  src: local("Futura PT Book"), local("FuturaPT-Book"), url("../font/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Book.woff") format("woff"), url("../font/FuturaPT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("../font/FuturaPTCond-Bold.eot");
  src: local("Futura PT Cond Bold"), local("FuturaPTCond-Bold"), url("../font/FuturaPTCond-Bold.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-Bold.woff") format("woff"), url("../font/FuturaPTCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../font/FuturaPT-BookObl.eot");
  src: local("Futura PT Book Oblique"), local("FuturaPT-BookObl"), url("../font/FuturaPT-BookObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-BookObl.woff") format("woff"), url("../font/FuturaPT-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("../font/FuturaPTCond-ExtraBoldObl.eot");
  src: local("Futura PT Cond Extra Bold Oblique"), local("FuturaPTCond-ExtraBoldObl"), url("../font/FuturaPTCond-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-ExtraBoldObl.woff") format("woff"), url("../font/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-Light.eot");
  src: local("Futura PT Light"), local("FuturaPT-Light"), url("../font/FuturaPT-Light.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Light.woff") format("woff"), url("../font/FuturaPT-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-BoldObl.eot");
  src: local("Futura PT Bold Oblique"), local("FuturaPT-BoldObl"), url("../font/FuturaPT-BoldObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-BoldObl.woff") format("woff"), url("../font/FuturaPT-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../font/FuturaPT-DemiObl.eot");
  src: local("Futura PT Demi Oblique"), local("FuturaPT-DemiObl"), url("../font/FuturaPT-DemiObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-DemiObl.woff") format("woff"), url("../font/FuturaPT-DemiObl.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Extra";
  src: url("../font/FuturaPTCond-ExtraBold.eot");
  src: local("Futura PT Cond Extra Bold"), local("FuturaPTCond-ExtraBold"), url("../font/FuturaPTCond-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-ExtraBold.woff") format("woff"), url("../font/FuturaPTCond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Demi";
  src: url("../font/FuturaPT-Demi.eot");
  src: local("Futura PT Demi"), local("FuturaPT-Demi"), url("../font/FuturaPT-Demi.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Demi.woff") format("woff"), url("../font/FuturaPT-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-HeavyObl.eot");
  src: local("Futura PT Heavy Oblique"), local("FuturaPT-HeavyObl"), url("../font/FuturaPT-HeavyObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-HeavyObl.woff") format("woff"), url("../font/FuturaPT-HeavyObl.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Extra";
  src: url("../font/FuturaPT-ExtraBoldObl.eot");
  src: local("Futura PT Extra Bold Oblique"), local("FuturaPT-ExtraBoldObl"), url("../font/FuturaPT-ExtraBoldObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-ExtraBoldObl.woff") format("woff"), url("../font/FuturaPT-ExtraBoldObl.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Book";
  src: url("../font/FuturaPTCond-Book.eot");
  src: local("Futura PT Cond Book"), local("FuturaPTCond-Book"), url("../font/FuturaPTCond-Book.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-Book.woff") format("woff"), url("../font/FuturaPTCond-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT";
  src: url("../font/FuturaPT-Bold.eot");
  src: local("Futura PT Bold"), local("FuturaPT-Bold"), url("../font/FuturaPT-Bold.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-Bold.woff") format("woff"), url("../font/FuturaPT-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Extra";
  src: url("../font/FuturaPT-ExtraBold.eot");
  src: local("Futura PT Extra Bold"), local("FuturaPT-ExtraBold"), url("../font/FuturaPT-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPT-ExtraBold.woff") format("woff"), url("../font/FuturaPT-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("../font/FuturaPTCond-BoldObl.eot");
  src: local("Futura PT Cond Bold Oblique"), local("FuturaPTCond-BoldObl"), url("../font/FuturaPTCond-BoldObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-BoldObl.woff") format("woff"), url("../font/FuturaPTCond-BoldObl.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond";
  src: url("../font/FuturaPTCond-MediumObl.eot");
  src: local("Futura PT Cond Medium Oblique"), local("FuturaPTCond-MediumObl"), url("../font/FuturaPTCond-MediumObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-MediumObl.woff") format("woff"), url("../font/FuturaPTCond-MediumObl.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura PT Cond Book";
  src: url("../font/FuturaPTCond-BookObl.eot");
  src: local("Futura PT Cond Book Oblique"), local("FuturaPTCond-BookObl"), url("../font/FuturaPTCond-BookObl.eot?#iefix") format("embedded-opentype"), url("../font/FuturaPTCond-BookObl.woff") format("woff"), url("../font/FuturaPTCond-BookObl.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: "Futura PT";
  font-weight: 300;
  font-style: normal;
  color: #504f4d;
}

body {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.body-container {
  height: 100%;
}

.container-result {
  padding-bottom: 35px;

  @media (max-width: 600px) {
    padding-top: 25px;
  }
}

.row-col-white {
  .col-3 {
    background-color: #ffffff;
  }
  .col-9 {
    background-color: #ffffff;
  }
}

.col-border-top {
  border-top: 1px solid #2e2e2e;
}
.col-border-right {
  border-right: 1px solid #2e2e2e;
}
.col-border-bottom {
  border-bottom: 1px solid #2e2e2e;
}
.col-border-left {
  border-left: 1px solid #2e2e2e;
}

.col-radius-lt {
  border-radius: 30px 0px 0px 0px;
}
.col-radius-tr {
  border-radius: 0px 30px 0px 0px;
}
.col-radius-rb {
  border-radius: 0px 0px 30px 0px;
}
.col-radius-bl {
  border-radius: 0px 0px 0px 30px;
}

.container-result-title {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    margin-right: -15px;
    margin-left: -15px;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

.body-row {
  height: 100%;
}

.bg-turquoise {
  background-color: #e5cec0;
  background-image: linear-gradient(to bottom, rgba(217, 186, 166, 1), rgba(250, 242, 238, 1));
}

.bg-image-1 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../img/bg.PNG);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.21;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #d6d8da;
    z-index: -1;
  }
}

.h1 {
  font-size: 40px;
  letter-spacing: 10px;
}

.h2 {
  font-size: 32px;
  letter-spacing: 5px;

  @media (max-width: 600px) {
    font-size: 22px;
    letter-spacing: 1px;
  }
}

@media (max-width: 600px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
  }
}

.card-pythagoras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  padding: 15px 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  transition: all 300ms;
  &:hover {
    transform: scale(1.1);
  }
}
.card-pythagoras-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 20px;
  letter-spacing: 2px;
  .card-pythagoras-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

.card-pythagoras-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-calc {
  display: flex;
  margin-bottom: 2em;
  @media (max-width: 600px) {
    padding: 0;
  }
}

.form-title {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 24px 0 0 0;
  }
}

.form-group {
  margin: 48px 0;

  @media (max-width: 600px) {
    margin: 12px 0;
  }
}

.form-calc-group {
  position: relative;

  @media (max-width: 600px) {
    width: 100%;
  }
}

.form-calc-control {
  border: #ffffff;
  outline: none;
  font-size: 22px;
  text-align: center;
  padding: 1em 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 50px;
  transition: all 300ms;
  outline: none;
  box-shadow: none;
  appearance: none;
  width: 100%;

  &.is-invalid {
    border-color: red;
    color: red;
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 0.5rem;
  }
}

.form-calc-submit {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 22px;
  background: rgba(0, 0, 0, 0.75);
  outline: none;
  color: #ffffff;
  transition: all 300ms;
  border-radius: 30px;
  &:hover {
    background-color: #000000;
  }

  @media (max-width: 600px) {
    padding: 0.5em 0;
    width: 100%;
  }
}

.form-calc-label-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 22px;
  margin: 0;
  opacity: 0.3;
}

@media (max-width: 600px) {
  body {
    position: relative;
    height: auto;
    width: auto;
  }

  .mobile-grid {
    display: flex;
    flex-direction: column;
  }

  .card-pythagoras {
    margin: 1px 0;
    font-size: 12px;
    letter-spacing: 0px;
    margin-left: -14px;
    margin-right: -14px;
  }

  .mobile-a {
    padding: 10px 0px 5px 0 !important;
  }
}

img {
  display: none !important;
}
.data {
  margin: 0 10px;
  width: 600px;
}
